In [1]:
import pandas as pd
import numpy as np

In [2]:
stock = pd.read_csv("OR.PA.csv")[["Date","Adj Close"]]

In [3]:
stock.head()

         Date   Adj Close
0  2016-12-01  142.224182
1  2016-12-02  142.448395
2  2016-12-05  142.672577
3  2016-12-06  144.197037
4  2016-12-07  145.407639

In [4]:
sellout = pd.read_csv("train_kiehls_anonimized_sellout.csv")
sellout = sellout[["country_zone","country_name_en","day","new_customer_amount","generic_customer_amount","total_amount"]]
sellout.head()

,country_zone,country_name_en,day,new_customer_amount,generic_customer_amount,total_amount
0,Europe,Austria,2018/1/2,2919.596879,5609.374140,13465.654260
1,Europe,Austria,2018/1/3,996.213800,3722.486021,7478.507953
2,Europe,Austria,2018/1/4,915.333076,4228.483724,10914.952390
3,Europe,Austria,2018/1/5,2509.275156,6129.180746,13066.182390
4,Europe,Austria,2018/1/8,2425.435381,3132.648544,8334.265471

In [5]:
sellout.groupby(["day"]).mean()

           new_customer_amount  generic_customer_amount  total_amount
day
2017/1/1          1.171293e+04             1.590831e+04  4.616579e+04
2017/1/10         2.030922e+04             1.875519e+04  9.595645e+04
2017/1/11         2.133996e+04             2.122769e+04  2.134742e+05
2017/1/12         2.575702e+04             1.960203e+04  1.566182e+05
2017/1/13         3.255737e+04             2.583683e+04  1.279335e+05
...                        ...                      ...           ...
2021/9/5          1.580917e+06             1.691348e+06  6.260158e+06
2021/9/6          1.279804e+06             7.531364e+05  3.726889e+06
2021/9/7          1.390581e+06             1.062965e+06  4.235990e+06
2021/9/8          1.286042e+06             1.049699e+06  4.057810e+06
2021/9/9          1.194496e+06             8.879578e+05  3.646119e+06

[1825 rows x 3 columns]

In [6]:
sellout["day"] = pd.to_datetime(sellout["day"])
stock["Date"] = pd.to_datetime(stock["Date"])

In [7]:
sellout["year"] = sellout["day"].dt.year
sellout["month"] = sellout["day"].dt.month
stock["year"] = stock["Date"].dt.year
stock["month"] = stock["Date"].dt.month

In [16]:
sales = sellout.groupby(["year","month"]).mean()["total_amount"].values

In [19]:
stocks_price = stock.groupby(["year","month"]).mean()["Adj Close"][1:-14].values

In [20]:
np.corrcoef(sales, stocks_price)[0, 1]

0.484422108897633

In [23]:
pd.read_csv("macro.xlsx")

UnicodeDecodeError: 'utf-8' codec can't decode bytes in position 15-16: invalid continuation byte